h1 {
    text-align: center;
}

#name {
    color: brown;
}
/* image properties */
img {
    width: 300px;
    height: 400px;
}

/* personal information */
.info {
    background-color: rgba(3, 230, 192, 0.822);
}
.dob {
    border-top: 2px solid black;
}

/* educational details properties */
.edu {
    background-color: rgb(51, 66, 192);
}
.ed {
    border-top: 2px solid black;
    color: rgb(228, 202, 255);
}

.grade {
    font-size: 25px;
    color: hotpink;
}
.eca {
    background-color: burlywood;
}
.ec {
    border-top: 2px solid black;
    color: rgb(152, 43, 255);
}

.eca {
    font-style: italic;
}

/* social profile properties */
.social {
    display: block;
    color: brown;
    background-color: rgb(114, 211, 214);
    padding-bottom: 10px;
}
.sc {
    border-top: 2px solid black;
}

/* properties for links */
a:link {
    color: rgb(6, 44, 216);
    background-color: #ffcccc;
    padding: 5px;
    display: flexbox;
    text-decoration: none;
    margin-top: 20px;
    font-size: larger;
    font-weight: 1000;
    border: 1px solid black;
}
a:hover {
    color: #ccffff;
    background-color: rgb(51, 51, 255);
}

/* Clickable float to go to top */
.nav {
    float: right;
}
