body {
    background-color: rgba(122, 226, 209, 0.822);
}
h1 {
    text-align: center;
}

#name {
    color: brown;
}
/* image properties */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
    height: 400px;
}
.info {
    padding: 10px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    background-color: rgb(207, 178, 235);
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px;
}

table img {
    height: 150px;
    width: auto;
    padding: 0px;
}
.info td {
    text-align: right;
}

.edu th,
.edu td,
.edu sup {
    background-color: burlywood;
    border-color: white;
}
.nav {
    float: right;
    display: block;
    text-decoration: none;
    border: 2px solid blue;
    background-color: rgb(177, 104, 104);
    color: aliceblue;
    padding: 10px;
}

.edu {
    border-bottom: 2px solid red;
    padding: 10px;
    background-color: rgb(180, 124, 124);
}
.eca {
    border-bottom: 2px solid red;
    padding: 10px;
    background-color: rgb(40, 187, 150);
}

ul li {
    list-style: none;
    font-style: italic;
    font-size: larger;
    padding: 5px;
}
a {
    color: aliceblue;
    border: 2px solid black;
}
a:link {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #f44336;
    background-color: blue;
}
